<h2 class="administrator">Administrator</h2>
<h1>ユーザ情報編集</h1>

<%= render 'form', admin_user: @user %>
<br>
<%= link_to '詳細', admin_user_path(@user), :class =>"btn btn-info" %> |
<%= link_to '一覧', admin_users_path, :class =>"btn btn-info" %>
